<form method="POST" action="/myetfs/:entryId/<%=entryId%>/?_method=PUT">
    <label>symbol</label>
    <input type="text" name="symbol" value="<%= entryId.symbol %>">
    <label>symbol</label>
    <input type="text" name="symbol" value="<%= entryId.longName %>">
    <label>symbol</label>
    <input type="text" name="symbol" value="<%= entryId.industry %>">
    <input type="submit">
</form>

<form method="GET" action="/new">
    <label for="updateETF">Update data about your ETFs</label>
    <input type="submit">
</form>


