<div class="mb-3" class="container-lg" class="center">

<form method="POST" class="center" action="/ETFs/update/<%=etfToUpdate.id%>/?_method=PUT">
    <label>symbol</label>
    <input type="text" name="symbol" value="<%= etfToUpdate.symbol %>">
    <label>symbol</label>
    <input type="text" name="longName" value="<%= etfToUpdate.longName %>">
    <label>symbol</label>
    <input type="text" name="industry" value="<%= etfToUpdate.industry %>">
    <input type="submit">
</form>

<form method="GET" action="/new">
    <label for="updateETF">Update data about your ETFs</label>
    <input type="submit">
</form>

</div>
