<form action="/ETFs/new" method="POST">
    <label for="symbol">Ticker</label>
    <input required type="text" id="symbol" name="symbol">
    <label for="long_name">Full Name</label>
    <input required type="text" id="long_name" name="long_name">
    <label for="industry">Industry</label>
    <select id="trend" name="trend">
        <option value="discretionary">Consumer Discretionary</option>
        <option value="financials">Financials</option>
        <option value="health">Health Care</option>
        <option value="technology">Technology</option>
        <option value="staples">Consumer Staples</option>
        </select>
    
    
    
    
    
    
    

    
    
    <button type="submit">Submit Tickers</button>
</form>