<div class="mb-3" class="container-lg" class="center">

<form class="center" action="/etfs/weekly" method="POST">
    <label for="ticker">Ticker</label>
    <input required type="text" id="ticker" name="ticker">
    <label for="lowEnd">Low End</label>
    <input required type="text" id="lowEnd" name="lowEnd">
    <label for="highEnd">High End</label>
    <input required type="text" id="highEnd" name="highEnd">

    <label for="trend">Trend</label>
    <select id="trend" name="trend">
        <option value="bullish">Bullish</option>
        <option value="bearish">Bearish</option>
        </select>
    <button type="submit">Submit Tickers</button>
    
</form>
<button onclick="addRow()">Add ETF</button>
<script>
function addRow() {
    let newTicker = document.createElement("INPUT");
    newTicker.setAttribute("type", "text");
    let newLowEnd = document.createElement("INPUT");
    newlowEnd.setAttribute("type", "text");
    let trend = document.createElement("SELECT");
    let bullishOption = document.createElement("option");
    bullishOption.text = "bullish";
    trend.add(bullishOption);
    let bearishOption = document.createElement("option");
    bearishOption.text = "bearish";
    trend.add(bearishOption);
}

</script>

</div>