<form action="/etfs/weekly" method="POST">
    <label for="ticker">Ticker</label>
    <input required type="text" id="ticker" name="ticker">
    <label for="lowEnd">Low End</label>
    <input required type="text" id="lowEnd" name="lowEnd">
    <label for="highEnd">High End</label>
    <input required type="text" id="highEnd" name="highEnd">

    <label for="trend">Trend</label>
    <select id="trend" name="trend">
        <option value="bullish">Bullish</option>
        <option value="bearish">Bearish</option>
        </select>
    <button onclick="addRow()">Add ETF</button>
    
</form>

<script>
function addRow() {
    let newTicker = document.createElement("INPUT");
    newTicker.setAttribute("type", "text");
    let newLowEnd = document.createElement("INPUT");
    newlowEnd.setAttribute("type", "text");
    let newHighEnd = document.createElement("INPUT");
    newTicker.setAttribute("type", "text");
}

</script>

<button type="submit">Submit Tickers</button>