<form action="/etfs/weekly" method="POST">
    <label for="ticker">Ticker</label>
    <input required type="text" id="ticker" name="ticker">
    <label for="low_end">Low End</label>
    <input required type="text" id="low_end" name="low_end">
    <label for="high_end">High End</label>
    <input required type="text" id="high_end" name="high_end">

    <label for="trend">Trend</label>
    <select id="trend" name="trend">
        <option value="bullish">Bullish</option>
        <option value="bearish">Bearish</option>
        </select>
    
    <button type="submit">Submit Tickers</button>
</form>